body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Login-box{
    width: 350px;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
}
.Login-box h1{
    color: gold;
    text-align: center;
    font-size: 36px;
}
.input-group{
    margin-bottom: 20px;
}
.input-group input{
    width: 93%;
    padding: 12px;
    border-radius: 8px;
}
button{
    width: 100%;
    padding: 12px;
    background: gold;
    border: none;
    border-radius: 8px;
}
button:hover{
    background: rgb(233, 127, 6);
}
p{
    margin-left: 23vh;
}
footer{
    margin-top: 20px;
    text-align: center;
    color: white;
}